.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loadingText {
    position: relative;
    z-index: 10000;
    color: #0F0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
    border: 1px solid #0F0;
    box-shadow: 0 0 20px #0F0;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        text-shadow: 0 0 10px #0f0;
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 20px #0f0, 0 0 30px #0f0;
    }

    100% {
        opacity: 0.5;
        text-shadow: 0 0 10px #0f0;
    }
}